# Application Port
PORT=8000

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgresql://postgres:your_postgres_password@localhost:5432/cicd_demo_db

DB_NAME=cicd_demo_db

# Optional Connection String (if preferred over individual variables)
 DATABASE_URL=postgresql://postgres:your_postgres_password@localhost:5432/cicd_demo_db
